<div class="container m-b-5">
  <div class="row animate fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #input (keyup)="buscarContratos(input.value)" type="text" class="form-control"
            placeholder="Buscar contratos...">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contratos registrados (<small>{{_contratoService.totalContratos}}</small>)</h3>
          <table class="table table-hover" style="width:100%">
            <thead>
              <tr>
                <th style="text-align: center;"><b>Nombre</b></th>
                <th style="text-align: center;"><b>Inicio</b></th>
                <th style="text-align: center;"><b>Finalización</b></th>
                <th style="text-align: center;"><b>Estado</b></th>
                <th style="text-align: center;"><b>Contrato</b></th>
                <th style="text-align: center;"><b>Acciones</b></th>
              </tr>
            </thead>

            <div class="alert alert-info" *ngIf="contratos.length === 0" >
              No hay resultados de la búsqueda
          </div>

            <tbody *ngFor="let inmueble of inmuebles">
              <tr *ngFor="let contrato of contratos" >
                <td  *ngIf="contrato.inmueble._id === inmueble._id">{{contrato.nombrecontrato}}</td>
                <td style="text-align: center;"  *ngIf="contrato.inmueble._id === inmueble._id">{{contrato.fechainicio|date:'dd-MM-yyyy'}}</td>
                <td style="text-align: center;"  *ngIf="contrato.inmueble._id === inmueble._id">{{contrato.fechafin|date:'dd-MM-yyyy'}}</td>
                <td style="text-align: center;"  *ngIf="contrato.inmueble._id === inmueble._id">
                  <div>{{contrato.fechafin>=fechaHoy? contrato.estado: 'HA TERMINADO'}}</div>
              </td>

              <td style="text-align: center;"  *ngIf="contrato.inmueble._id === inmueble._id">
                <div class="col">
                  <div *ngIf="contrato.fechafin>=fechaHoy" >Sin acciones</div>
                  <button type="button" class="btn btn-success" [ngStyle]="{'background-color': contrato.fechafin>=fechaHoy? '#26c6da':'#fc4b6c'}" (click)="estadoDelContrato(contrato)" [disabled]="contrato.estado === 'TERMINADO' || contrato.fechafin>=fechaHoy" [hidden]="contrato.fechafin>=fechaHoy" style="size: 10px;">Terminar el contrato</button>
                  <button type="button" class="btn btn-success" [ngStyle]="{'background-color': contrato.fechafin>=fechaHoy? '#26c6da':'#fc4b6c'}" (click)="publicarInmueble(inmueble)" [disabled]="contrato.estado === 'VIGENTE' || inmueble.estado === 'DISPONIBLE'" [hidden]="contrato.fechafin>=fechaHoy" style="size: 10px;">Publicar el inmueble</button>
                </div>
              </td>


                <td style="text-align: center;" *ngIf="contrato.inmueble._id === inmueble._id">
                  <button [routerLink]="['/plantillacontrato', contrato._id]" class="btn btn-primary">
                    <abbr title="Ver contrato"><i class="fa fa-eye"></i></abbr></button>
                    <!--<button (click)="borrarContrato(contrato)" class="btn btn-danger"><i class="fa fa-trash"></i></button>-->
                </td>
              </tr>
            </tbody>
          </table>





          <button (click)="cambiarPaginacion(-5)" class="btn btn-circle btn-lg btn-success mr-2"><</button>
          <button (click)="cambiarPaginacion(5)" class="btn btn-circle btn-lg btn-success">></button>

</div>

