

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card bbb_deals">
        <div class="card-body">
          <div class="card-title">
            <h2>Reseteo de contraseña</h2>
          </div>
          <form #f="ngForm" class="form" (ngSubmit)="resetearPassword(f.value)">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"></div>
                <input [(ngModel)]="correo" name="correo" type="email" required class="form-control"
                placeholder="Nombre de usuario (Correo electrónico)" />
              </div>
              <span *ngIf="f.submitted && f.controls['correo'].errors" class="text-danger animated fadeIn">El nombre de usuario es obligatorio</span>
            </div>
            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-block btn-md btn-success btn-rounded">
                  Resetear Contraseña
                </button>
              </div>
              <div class="col-6">
                <button routerLink="/login"  type="submit"
              class="btn btn-block btn-md btn-secondary btn-rounded">Iniciar sesión</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
