<div class="row">

  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuario: <b>{{usuario.correo}}</b>, <i>{{usuario.rol}}</i></h4>
        <form  #f="ngForm" class="form-material m-t-40" (ngSubmit)="ActualizarInformacionPerfil(f.value)">

          <div class="row ">
            <div class="col-6">
              <div class="col-xs-6 ">

                <div class="form-group">
                  <label for="nombre">Nombres</label>
                  <div class="input-group">
                    <div class="input-group-addon"></div>
                    <input [ngModel]="usuario.nombre" name="nombre" type="text" required class="form-control">
                  </div>
                  <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">Los nombres son obligatorios</span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="apellido">Apellidos</label>
                <div class="input-group">
                  <div class="input-group-addon"></div>
                  <input [ngModel]="usuario.apellido" name="apellido" type="text" required class="form-control">
                </div>
                <span *ngIf="f.submitted && f.controls['apellido'].errors" class="text-danger animated fadeIn">Los apellidos son obligatorios</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="cedula">Cédula</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <input [ngModel]="usuario.cedula" name="cedula" type="text" class="form-control">
            </div>
            <span *ngIf="f.submitted && f.controls['cedula'].errors" class="text-danger animated fadeIn">El número de cédula es obligatorio</span>
          </div>


          <div class="row ">
            <div class="col-6 m-t-10">
              <div class="col-xs-6 ">
                <div class="form-group">
                  <label for="movil">Celular</label>
                  <div class="input-group">
                    <div class="input-group-addon"></div>
                    <input [ngModel]="usuario.movil" name="movil" type="text" required class="form-control">
                  </div>
                  <span *ngIf="f.submitted && f.controls['movil'].errors" class="text-danger animated fadeIn">El número de celular es obligatorio</span>
                </div>
              </div>
            </div>
            <div class="col-6 m-t-10">
              <div class="form-group">
                <label for="convencional">Convencional</label>
                <div class="input-group">
                  <div class="input-group-addon"></div>
                  <input [ngModel]="usuario.convencional" name="convencional" type="text" class="form-control"
                    placeholder="Convencional">
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-block btn-lg btn-info btn-rounded">
            Actualizar información</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align='center'>

        <img *ngIf="!imagenTemporal" [src]="usuario.imagen | imagen" class="w150" alt="">
        <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="w150" alt="">
        <br>
        <br>
        <small><input (change)='seleccionarImagen($event.target.files[0])' type="file"></small>
        <br>
        <br>

        <button (click)='cambiarImagen()' [disabled]='!subirImagen' type="submit"
          class="btn btn-block btn-lg btn-info btn-rounded"> Actualizar Foto</button>

      </div>
    </div>
  </div>
</div>
