

    <div class="row md-12">
      <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <form #f="ngForm" class="form-material m-t-40" (ngSubmit)="actualizarPassword(f.value)">


          <div class="form-group">
            <label for="password">Contraseña</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <input [(ngModel)]="password" name="password" type="password" appVerPassword required class="form-control"><span class="bar"></span>
            </div>
            <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">La contraseña es obligatoria</span>
          </div>


          <div class="form-group">
            <label for="password2">Confirmar contraseña</label>
            <div class="input-group">
              <div class="input-group-addon"></div>
              <input [(ngModel)]="password2" name="password2" type="password" appVerPassword required class="form-control"><span class="bar"></span>
            </div>
            <span *ngIf="f.submitted && f.controls['password2'].errors" class="text-danger animated fadeIn">Debes confirmar tu contraseña</span>
          </div>


          <button type="submit" class="btn btn-block btn-lg btn-info btn-rounded">
            Cambiar Contraseña</button>
        </form>
      </div>
    </div>
  </div>
</div>
