

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a href="/#/dashboard" class="navbar-brand">LojaHouse</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

              <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown"  *ngIf="estaLogueado" >
                      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" id="navbarDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Inicio
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/#/dashboard">Inicio</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/#/enviarmensaje">Contáctanos</a>
                          <div class="dropdown-divider"></div>
                          <a (click)="_usuarioService.logout()" class="dropdown-item pointer" >Salir</a>
                      </div>
                  </li>

                   <li class="nav-item active" *ngIf="!estaLogueado" >
                      <a class="nav-link" href="/#/login">Iniciar Sesión <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item" *ngIf="!estaLogueado" >
                    <a class="nav-link" href="/#/enviarmensaje">Contáctanos</a>
                </li>

                  <li class="nav-item" *ngIf="!estaLogueado">
                      <a class="nav-link" href="/#/registro">Registrarse</a>
                  </li>
              </ul>
          </div>
      </div>
      </nav>


<body>


  <div class="container-fluid mt-5 mb-5 mx-auto">

    <div class="container">
      <div class="row">

          <div class="col-12">
            <div class="justify-content-center mx-auto">
                <div class="search"> <input class="search_input" type="text" name="" placeholder="Busca por tipo de inmueble y ubicación"> </div>
            </div>
        </div>


      <div class="col-md-12 col-sm-12 col-lg-12">

        <div class="row">

          <div class="col-md-6 col-sm-6 col-lg-3">
            <div style="margin-left: 16px; color: white; font-size: 15px;"><b>Tipo de inmueble</b></div>
          <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="selectWrapper">
            <select class="selectBox">
            <option *ngFor="let tipo of tipos" (click)="tipoInmueble(tipo)">{{tipo}}</option>
          </select>
          </div>
        </div>
      </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
          <div style="margin-left: 16px; color: white; font-size: 15px;"><b>Precio</b></div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="selectWrapper">
              <select class="selectBox">
              <option *ngFor="let precio of precios" (click)="precioInmueble(precio)">{{precio}}</option>
            </select>
            </div>
        </div>
        </div>


        <div class="col-md-6 col-sm-6 col-lg-3">
        <div style="margin-left: 16px; color: white; font-size: 15px;"><b>Ubicación</b></div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="selectWrapper">
            <select class="selectBox">
            <option *ngFor="let ubicacion of ubicaciones" (click)="ubicacionInmueble(ubicacion)">{{ubicacion}}</option>
          </select>
          </div>
      </div>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-3">
        <div style="margin-left: 16px; color: white; font-size: 15px;"><b>Buscar</b></div>
        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="icon buscar" (click)="cadena()"><i class="fa fa-search fa-2x"></i></div>
        </div>
        </div>


      </div>


    </div>


      </div>
    </div>
    <br>

  <div class="container">
    <div class="row-12">

      <div class="col-12">
          <div class="row g-2">
        <div class="alert alert-info" *ngIf="inmuebles.length === 0" >
          No hay resultados de la búsqueda
        </div>

              <div class="col-md-4 mt-2" *ngFor="let inmueble of inmuebles">
                  <div class="product py-4">

                    <div class="p-carousel" >
                      <div class="carousel slide" data-ride="carousel" id="{{inmueble._id}}">
                          <div class="carousel-inner" role="listbox">
                            <div *ngFor="let avatar of inmueble.imagen; let i = index" class="carousel-item" [ngClass]="{'active': i===0}">
                              <img style="width:310px; height:310px" [src]='avatar' class="img-responsive image">
                            </div>
                          </div>

                          <div>
                            <a class="carousel-control-prev" href="#{{inmueble._id}}" role="button"
                            data-slide="prev"><span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span></a><a class="carousel-control-next"
                            href="#{{inmueble._id}}" role="button" data-slide="next"><span
                            class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
                          </div>

                      </div>
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">{{inmueble.nombre | limitTo : "12"}}</h5>
                    <p class="card-text"><i class="fa fa-map-marker marker"></i> {{inmueble.barrio}}</p>
                    <p class="card-text" style="text-align: right;">${{inmueble.precioalquiler}}</p>
                </div>
                <button [routerLink]="['/ver-inmueble-publico', inmueble._id]"
                class="btn btn-block btn-primary"><abbr title="Ver inmueble"></abbr>Ver inmueble</button>
                  </div>
              </div>

          </div>
      </div>
  </div>
  </div>

  </div>

      <div class="row" align="center">
        <div class="col">
          <button (click)="cambiarPaginacion(-9)" class="btn btn-circle btn-lg btn-success mr-2"><</button>
          <button (click)="cambiarPaginacion(9)" class="btn btn-circle btn-lg btn-success">></button>
        </div>
      </div>

      <br>

</body>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-5 item">
                  <h3>Enlaces útiles</h3>
                  <ul>
                    <li><a href="/#/login">Inicia Sesión</a></li>
                    <li><a href="/#/registro">Regístrate</a></li>
                  </ul>
              </div>
              <div class="col-md-5 item">
                  <h3>Contacto</h3>
                  <ul>
                      <li><a href="#">Loja, Loja-Ecuador</a></li>
                      <li><a href="/#/enviarmensaje">Contáctanos</a></li>
                      <li><a href="#">0989994545</a></li>
                  </ul>
              </div>

              <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a>
                                           <a href="#"><i class="fa fa-youtube"></i></a>
                                           <a href="#"><i class="fa fa-instagram"></i></a>
                                           <a href="#"><i class="fa fa-google"></i></a></div>
          </div>
          <br>
          <p class="copyright">lojahouse.com © 2020</p>
      </div>
  </footer>
</div>
