  <div class="row animate fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #input (keyup)="buscarInmuebles(input.value)" type="text" class="form-control"
            placeholder="Buscar inmuebles...">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="text-right">

            <a routerLink="/crearinmueble" class="btn btn-md btn-rounded btn-success" [routerLink]="['/crearinmueble','nuevo']"><b>
                Nuevo Inmueble</b></a>
          </div>
          <h3 class="card-title">Inmuebles registrados(<small>{{_inmuebleService.totalInmuebles}}</small>)</h3>


          <div class="container mt-5 mb-5">

            <div class="row">

              <div class="alert alert-info" *ngIf="inmuebles.length === 0" >
                No hay resultados de la búsqueda
            </div>

              <div class="col-md-4" *ngFor="let inmueble of inmuebles">
                  <div class="card">
                    <div class="bbb_deals_item_price_a mr-auto"
                    [ngStyle]="{'background-color':inmueble.publicado == 'PUBLICO' ? '#007bff':'#fc4b6c'}">
                    <b [hidden]="inmueble.estado==='OCUPADO'">{{inmueble.publicado == 'PUBLICO' ? 'Inmueble publicado' : 'Inmueble sin publicar'}}</b>
                    <b [hidden]="inmueble.estado!=='OCUPADO'">{{inmueble.estado == 'OCUPADO' ? 'Inmueble Ocupado' : ''}}</b>
                  </div>

                    <div class="p-carousel" >
                      <div class="carousel slide" data-ride="carousel" id="{{inmueble._id}}">
                          <div class="carousel-inner" role="listbox">
                            <div *ngFor="let avatar of inmueble.imagen; let i = index" class="carousel-item" [ngClass]="{'active': i===0}">
                              <img *ngIf="avatar.length>0"  style="width:310px; height:310px" [src]='avatar' class="img-responsive image">
                            </div>
                          </div>
                          <img *ngIf="inmueble.imagen.length===0" style="width:310px; height:310px" src="assets/images/notinmueble.png" class="img-responsive image">

                          <div>
                            <a class="carousel-control-prev" href="#{{inmueble._id}}" role="button"
                            data-slide="prev"><span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span></a><a class="carousel-control-next"
                            href="#{{inmueble._id}}" role="button" data-slide="next"><span
                            class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
                          </div>

                      </div>
                  </div>

                  <div class="p-details">
                    <div style="text-align: end; font-size: 18px; font-weight: bold;">$ {{inmueble.precioalquiler}}</div>
                    <br>
                       <a  [routerLink]="['/arrendador-ver-inmueble', inmueble._id]"> <div style="text-align: justify;"><h5>{{inmueble.nombre | limitTo : "18" }}</h5></div></a>
                       <hr>
                       <p class="card-text mt-2"><i class="fa fa-map-marker marker"></i> {{inmueble.direccion | limitTo : "28" }}</p>
                        <h6 class="mb-0">{{inmueble.descripcion | limitTo : "23" }}</h6><br>
                    </div>


                    <div class="row" align="center" >
                      <div class="col-md-6">
                        <button type="button" (click)="publicarInmueble( inmueble )" class="btn btn-circle btn-xl btn-success" [disabled]="inmueble.publicado === 'PUBLICO' || inmueble.estado==='OCUPADO'"><i class="fa fa-check"></i></button>
                        <h6 [hidden]="inmueble.publicado === 'PUBLICO'"><b>Publicar</b></h6>
                      </div>

                      <div class="col-md-6">
                        <button type="button" (click)="publicarInmueble( inmueble )" class="btn btn-warning btn-circle btn-xl" [disabled]="inmueble.publicado === 'PRIVADO' || inmueble.estado==='OCUPADO'"><i class="fa fa-times"></i>
                        </button>
                        <h6 [hidden]="inmueble.publicado === 'PRIVADO'"><b>Dejar de publicar</b></h6>
                      </div>
                    </div>

                      <hr>

                      <div class="row" [hidden]="inmueble.estado==='OCUPADO'" >
                          <div class="col-12 mb-2">
                                <button [routerLink]="['/crearinmueble', inmueble._id]"
                                  class="btn btn-block btn-success"
                                  [disabled]="inmueble.estado==='OCUPADO'"><abbr title="Editar inmueble"><i
                                  class="fa fa-save"></i></abbr>
                                </button>
                          </div>

                            <div class="col-12">
                            <button (click)="borrarInmueble(inmueble)" class="btn btn-block btn-danger"
                            [disabled]="inmueble.estado==='OCUPADO'"><abbr
                                    title="Eliminar inmueble"><i class="fa fa-trash"></i></abbr></button></div>
                      </div>

                  </div>

              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <button (click)="cambiarPaginacion(-5)" class="btn btn-circle btn-lg btn-success mr-2"><</button>
  <button (click)="cambiarPaginacion(5)" class="btn btn-circle btn-lg btn-success">></button>


<!---<div *ngFor="let user of inmuebles" >
  <div *ngFor="let avatar of user.imagen" >
    <img src="{{avatar}}" alt="">
  </div>
</div>-->


