<div class="container m-b-5">
  <div class="row animate fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <label for="busqueda" title="Filtrar visitas"><b>Filtrar visitas</b></label>
            <div class="row mt-3">

           <!-- Default unchecked -->
           <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="pendiente" name="defaultExampleRadios" checked mdbInput (click)="buscarVisitas('PENDIENTE')">
            <label class="custom-control-label" for="pendiente">Pendientes</label>
          </div>



             <!-- Default checked -->
           <div class="custom-control custom-radio">
             <input type="radio" class="custom-control-input" id="activados" name="defaultExampleRadios" mdbInput (click)="buscarVisitas('ACEPTADA')">
             <label class="custom-control-label" for="activados">Aceptadas</label>
           </div>


           <!-- Default unchecked -->
           <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="atendida" name="defaultExampleRadios" mdbInput (click)="buscarVisitas('ATENDIDA')">
            <label class="custom-control-label" for="atendida">Atendidas</label>
          </div>

          <!-- Default unchecked -->
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="todos" name="defaultExampleRadios"  mdbInput (click)="buscarVisitas('')">
              <label class="custom-control-label" for="todos">Todas</label>
          </div>


           </div>

        </div>
      </div>
    </div>
  </div>
  <!-- .row -->
  <h3 class="card-title">Han solicitado (<small>{{_serviceVisita.totalVisitas}}</small>) visitas</h3>
  <div class="row">
    <div class="alert alert-info" *ngIf="visitas.length === 0" >
      No hay resultados de la búsqueda
  </div>
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4" *ngFor="let visita of visitas">

      <div class="card card-body ribbon-wrapper card mt-3">


        <div *ngIf="visita.estado === 'ACEPTADA'"  class="ribbon ribbon-success">La visita está: <b>ACEPTADA</b></div>
        <div *ngIf="visita.estado === 'PENDIENTE'"  class="ribbon ribbon-warning">La visita está: <b>PENDIENTE</b></div>
        <div *ngIf="visita.estado === 'RECHAZADA'"  class="ribbon ribbon-danger">La visita está: <b>RECHAZADA</b></div>
        <div *ngIf="visita.estado === 'ATENDIDA'" class="ribbon ribbon-primary">La visita está: <b>ATENDIDA</b></div>


        <div class="row">
          <div class="col-md-4 col-lg-3 text-center">
            <a [routerLink]="['/vervisita', visita._id]"><img [src]="visita.usuarioarrendatario.imagen | imagen"
                class="img-circle img-responsive"></a>
          </div>
          <div class="col-md-8 col-lg-9">
           <a [routerLink]="['/vervisita', visita._id]"> <h5 class="box-title m-b-0"><b>{{visita.usuarioarrendatario.nombre+' '+ visita.usuarioarrendatario.apellido}}</b></h5> </a>
            <hr>

            <h5><b>Descripción:</b></h5><p>{{visita.descripcion  | limitTo : "25" }}</p>

            <small>Inmueble de interés: <b>{{visita.inmueble.tipo | limitTo : "4" }}</b></small>
            <hr>
            <div style="text-align: end;">
              <h6>Fecha solicitada para la visita: <b>{{visita.fecha |date:'dd-MM-yyyy'}}</b></h6>
            </div>
            <hr>
            <div><i><h6>{{visita.estado === 'ATENDIDA' ? 'YA SE HA GENERADO EL CONTRATO' : 'FALTA GENERAR EL CONTRATO DE ALQUILER'}}</h6></i></div>

            <div style="text-align: right;" [hidden]="tokenPayload.usuario.rol ==='ADMINISTRADOR'">
              <button (click)="aceptarVisita( visita )" [disabled]= "visita.estado === 'ACEPTADA'"  [hidden]="visita.estado === 'ATENDIDA'" class="btn btn-outline-primary m-l-5" ><abbr title="Aceptar visita"><i class="fa fa-check" aria-hidden="true"></i></abbr>
              </button>
              <button (click)="rechazarVisita( visita )" [disabled]= "visita.estado === 'RECHAZADA'"  [hidden]="visita.estado === 'ATENDIDA'" class="btn btn-outline-danger m-l-5"><abbr title="Rechazar visita"><i class="fa fa-remove" aria-hidden="true"></i></abbr></button>
              <button [routerLink]="['/crearcontrato', visita._id]" [disabled]= "(visita.estado !== 'ACEPTADA')" [hidden]="visita.estado === 'ATENDIDA'" class="btn btn-outline-secondary m-l-5"><abbr title="Generar contrato de alquiler"><i class="fa fa-book" aria-hidden="true"></i></abbr></button>
              <button (click)="borrarVisita( visita )" hidden="visita.inmueble.estado=='OCUPADO'" class="btn btn-danger m-l-5"><abbr title="Elimiar solicitud"><i class="fa fa-trash" aria-hidden="true"></i></abbr></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <div class="row" align="center">
    <div class="col">
      <button (click)="cambiarPaginacion(-6)" class="btn btn-circle btn-lg btn-success mr-2"><</button>
      <button (click)="cambiarPaginacion(6)" class="btn btn-circle btn-lg btn-success">></button>
    </div>
</div>


