<div class="container">

  <!-- .row -->
  <div class="row">

    <div class="alert alert-info" *ngIf="!user" >
      No hay resultados de la búsqueda
  </div>


    <!-- .col -->
    <div class="col-md-8 col-lg-8 col-xlg-8 mx-auto">
      <div class="card card-body ribbon-wrapper card mt-3" *ngIf="user" >

        <div *ngIf="visita.estado === 'ACEPTADA'" class="ribbon ribbon-success">La visita está: <b>ACEPTADA</b></div>
        <div *ngIf="visita.estado === 'PENDIENTE'" class="ribbon ribbon-warning">La visita está: <b>PENDIENTE</b></div>
        <div *ngIf="visita.estado === 'RECHAZADA'" class="ribbon ribbon-danger">La visita está: <b>RECHAZADA</b></div>
        <div *ngIf="visita.estado === 'ATENDIDA'" class="ribbon ribbon-primary">La visita está: <b>ATENDIDA</b></div>


        <div class="row">
          <div class="col-md-4 col-lg-3 text-center">
            <a [routerLink]="['/vervisita', visita._id]"><img [src]="visita.usuarioarrendatario.imagen | imagen"
                class="w150" class="img-circle img-responsive"></a>
          </div>
          <div class="col-md-8 col-lg-9">
            <a [routerLink]="['/vervisita', visita._id]">
              <h5 class="box-title m-b-0">
                <b>{{visita.usuarioarrendatario.nombre + ' ' + visita.usuarioarrendatario.apellido}}</b></h5>
            </a>
            <hr>

            <p><b>Descripción:</b><br>{{visita.descripcion }}</p>

            <small>Inmueble de interés: <b>{{visita.inmueble.tipo}}</b></small>
            <br><br>
            <div style="text-align: end;">
              <h6>Fecha solicitada para la visita: <b>{{visita.fecha |date:'dd-MM-yyyy'}}</b></h6>
            </div>
            <hr>
            <i><h5>{{visita.inmueble.estado == 'OCUPADO' ? 'YA SE HA GENERADO EL CONTRATO' : 'FALTA GENERAR EL CONTRATO DE ALQUILER'}}</h5></i>

            <div [hidden]="visita.estado === 'ATENDIDA'">
              <div style="text-align: right;" >
                <button (click)="aceptarVisita( visita )"
                [disabled]="visita.estado === 'ACEPTADA'"
                [hidden]="visita.estado === 'ATENDIDA'"
                  class="btn btn-outline-primary m-l-5"><abbr title="Aceptar visita"><i class="fa fa-check"
                      aria-hidden="true"></i></abbr>
                </button>
                <button (click)="rechazarVisita( visita )"
                [disabled]="visita.estado === 'RECHAZADA'"
                [hidden]="visita.estado === 'ATENDIDA'"
                  class="btn btn-outline-danger m-l-5"><abbr title="Rechazar visita"><i class="fa fa-remove"
                      aria-hidden="true"></i></abbr></button>

                <button [routerLink]="['/crearcontrato', visita._id]"
                  [disabled]="(visita.estado !== 'ACEPTADA')"
                  [hidden]="visita.estado === 'ATENDIDA'"
                  class="btn btn-outline-secondary m-l-5"><abbr title="Generar contrato de alquiler"><i class="fa fa-book"
                      aria-hidden="true"></i></abbr></button>
                <button (click)="borrarVisita( visita )" hidden="visita.inmueble.estado=='OCUPADO'" [disabled]="visita.inmueble.estado=='OCUPADO'" class="btn btn-danger m-l-5"><abbr title="Elimiar solicitud"><i
                      class="fa fa-trash" aria-hidden="true"></i></abbr></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
